* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background: var(--bkg-color);
}
body.dark-theme {
    --text-color: aliceblue;
    --bkg-color: black;
}
header {
    position: relative;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(249, 250, 254, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}
nav {
    position: relative;
    width: 520px;
    height: 50px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #ff0080, yellow);
    border-radius: 8px;
    transition: .5s ease;
}
nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 95px;
}
nav a:nth-child(3):hover~span {
    left: 189px;
    width: 110px;
}
nav a:nth-child(4):hover~span {
    left: 298px;
    width: 115px;
}
nav a:nth-child(5):hover~span {
    left: 413px;
    width: 110px;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
}
  
input:checked + .slider {
    background-color: #303136;
}
  
input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
/*.b-nav {
    
    color: var(--text-color);
    */
  
@media(prefers-color-scheme: dark ) {
    body {
        --text-color: aliceblue;
        --bkg-color: black;
    }
    body.light-theme {
        --text-color: black;
        --bkg-color: yellow;
    }
}